.header
  =link_to "edit", edit_presentation_frame_path(frame.presentation, frame)
  -unless frame.title == "Title"
    %h1=frame.title
.menu
  -unless @presentation.root_frame == nil
    .menu_header
      =@presentation.title
    -logger.debug("FOOOOOOOOOOOOOOOOOO")
    -logger.debug(template_path("foo"))
    =menutree_ol(@presentation.root_frame.children()) { |item| link_to h(item.title), presentation_path(@presentation)+"#"+item.position.to_s }

.content
  =content
.footer
  %span.title=presentation.title
  %span.position="#{frame.position}/#{presentation.root_frame.descendants.length}"
