.header
  =link_to "edit", edit_presentation_frame_path(frame.presentation, frame)

#nav
  -unless @presentation.root_frame == nil
    #nav_header
      %h3= link_to @presentation.title, presentation_path(@presentation)+'#1'
      %p#author
        &copy;
        - author = @presentation.asset.labelings.select { |l| l.label.facet.caption == 'Author' }.first
        - if author
          =author.label.caption
    #nav_body
      =menutree_ol(@presentation.root_frame.children().find(:all,:offset => 1)) { |item| link_to h(item.title), presentation_path(@presentation)+"#"+item.position.to_s }

.content
  =content
