.header
  =link_to "edit", edit_presentation_frame_path(frame.presentation, frame)

#nav
  -unless @presentation.root_frame == nil
    #nav_header
      %h3=@presentation.title
    #nav_body
      =menutree_ol(@presentation.root_frame.children()) { |item| link_to h(item.title), presentation_path(@presentation)+"#"+item.position.to_s }

.content
  =content
