=content_for :h1 do
  Fassets Development
#sidebar
  -if user_signed_in?
    %h2.catalogtitle New Catalog
    =form_for Catalog.new, :html => {:class => "collapsable_catalog"} do |f|
      =render :partial => "form", :object => f
      =submit_tag "Create"
  %ul.collection
    -Catalog.all.each do |catalog|
      %li
        =link_to(catalog.title, catalog_path(catalog))
        .content=catalog.info

#main
  %p Central tasks in learning and teaching are research, provision and management of information. This information can be found in form of assets like lecture notes, diagrams, web ressources, multimedia content or articles and has to be made availble independently of location and platform. So far the XMendeL-System is used to provide this service. User analyses gathered within the XMendeL-Project serve as base for the development of a web based application for managing and provisioning of assets in the context of teaching and learning. Facet classification is used as a capable information structure for a task-optimzed access to the assets in the system. The Implementation is carried out in an agile, user centered development process. The modern web application framework Ruby on Rails forms the technical foundation based   on the architecture patterns MVC and REST. Different representations of cataloged assets, likepresentation slides, are implemented as system extensions.

