=content_for :h1 do
  #type Catalog
  #name
    =@catalog.title
    -if user_signed_in?
      %span.action
        =link_to image_tag("edit.png"), edit_catalog_path(@catalog)
#sidebar
  -if user_signed_in?
    %h2.facettitle Add Facet
    =form_for [@catalog, Facet.new], :html => {:class => 'collapsable_facet'} do |f|
      =render :partial => "/facets/form", :object => f
      =submit_tag "Create"
  =render :partial => "facet", :collection => @catalog.facets  


#catalog_main
  -if @filter.empty?
    %h2 Assets
  -else
    %h2
      Filtered Assets
    #filter
      %ul
        =render :partial => "filter_item", :collection => Label.in(@filter)    
        %li{:style => "clear:both"}=link_to "clear filter", catalog_path(@catalog), :class => "icon remove"
  %ul#assets
    =render :partial => "shared/asset", :collection => @assets, :locals => {:tp => nil}

