-content_for :h1 do
  #type Session
  #title New

-form_tag session_path do
  %p
    %label{:for => 'title'} Login:
    =text_field_tag :login, @login
  %p
    %label{:for => 'password'} Password:
    =password_field_tag :password, nil

    =submit_tag "Log in"

