%p
  %label{:for => 'title'} Title:
  =form.text_field :title
%p
  %label{:for => 'template'} Template:
  =select(:slide, :template, TemplateManager.inner_templates(@presentation ? @presentation.template : presentation.template ))
