%li.slot{:id => "slot_#{slot.name}"}
  .name
    =slot.name
    -unless slot.in_template?
      (not in template)
      %button.drop_slot Drop
    =select_tag "slide[content][#{slot.name}][mode]", options_for_select(["markup", "asset"], slot["mode"])
  .content   
    =hidden_field_tag "slide[content][#{slot.name}][asset_id]", slot['asset_id']
    .slot_asset{:style =>  slot["mode"] == "asset" ? "" : "display:none"}
      -if slot.asset
        =render :partial => "shared/asset", :locals => {:asset => slot.asset}
      -else
        Drop Asset Here!
    .clear
    =text_area_tag "slide[content][#{slot.name}][markup]", slot["markup"], :rows => 4, :style => slot["mode"] == "asset" ?  "display:none" : ""