=javascript_include_tag "slide_edit.js"
//=stylesheet_link_tag "/templates/"+@slide.template.to_s

=content_for :h1 do
  #type
    %small Presentation
    Slide
  #title
    %small=link_to @presentation.asset.name, edit_presentation_path(@presentation)
    =link_to @slide.title, presentation_slide_path(@presentation, @slide)
  #action
    %span.action
      =button_to "Delete", [@presentation, @slide], :method => :delete
      =form_for [current_user, TrayPosition.new(:user_id => current_user.id, :clipboard_type => 'slide', :clipboard_id => @slide.id)], :html => {:class => :inline} do |f|
        =f.hidden_field :user_id
        =f.hidden_field :clipboard_id
        =f.hidden_field :clipboard_type
        =submit_tag "Put on Tray"
      
#sidebar
  =render :partial => "/presentations/slides", :locals => {:presentation =>  @presentation}
  
#main
  #editorhelp=render :partial => "shared/editorhelp"
  =form_for  [@presentation,  @slide] do |f|
    =submit_tag "Save", :id => "slide_save"
    =render :partial => "form", :object => f
    %h2 Slots
    %ul#slots
      =render :partial => "slot", :collection => @slide.slots
    #edit_warning{:style => "visibility: hidden"}
      There are unsaved changes on this slide
