%h2.slidetitle New Slide
=form_for [presentation, Slide.new], :html => {:class => "collapsable_slide"} do |f|
  =render :partial => "/slides/form", :object => f, :locals => {:presentation => presentation}
  =submit_tag "Create"

%div{:id => "presentations.#{presentation.id}.slides"}
  %ol.collection{:id => "presentations.#{presentation.id}.slides.sort", :class => 'sortable_slides'}
    -presentation.slides.each do |slide|
      %li[slide]
        -if @slide && @slide.id == slide.id
          =slide.title
        -else
          =link_to slide.title, edit_presentation_slide_path(presentation, slide)
