%h2.frametitle New Frame
=form_for [presentation, Frame.new], :html => {:class => "collapsable_frame"} do |f|
  =render :partial => "/frames/form", :object => f, :locals => {:presentation => presentation}
  =submit_tag "Create"

%div{:id => "presentations.#{presentation.id}.frames"}
  %ol.collection{:id => "presentations.#{presentation.id}.frames.sort", :class => 'sortable_frames'}
    -presentation.frames.each do |frame|
      %li[frame]
        -if @frame && @frame.id == frame.id
          =frame.title
        -else
          =link_to frame.title, edit_presentation_frame_path(presentation, frame)
