%h2.frametitle New Frame
=form_for [presentation, Frame.new], :html => {:class => "collapsable_frame"} do |f|
  =render :partial => "/frames/form", :object => f, :locals => {:presentation => presentation}
  =submit_tag "Create"

%div{:id => "presentations.#{presentation.id}.frames"}
  %ol{:id => "frames", :path => "presentations.#{presentation.id}.frames.sort"}
    =tree_ol(Frame.where({:title => "root_frame", :presentation_id => presentation.id}).first.children()) {|item| link_to h(item.title), edit_presentation_frame_path(presentation, item) }
