%h2
  Slides
  =form_toggle_link "new"
-form_for [presentation, Slide.new] do |f|
  =render :partial => "/slides/form", :object => f, :locals => {:presentation => presentation}
  =submit_button "Create"
  
%ul.collection
  -presentation.slides.each do |slide|
    %li
      .handle
        -if @slide && @slide.id == slide.id
          =slide.title
        -else
          =link_to slide.title, edit_presentation_slide_path(presentation, slide)      