%h2.slidetitle New Slide
=form_for [presentation, Slide.new], :html => {:class => "collapsable_slide"} do |f|
  =render :partial => "/slides/form", :object => f, :locals => {:presentation => presentation}
  =submit_tag "Create"
%h2.topictitle New Topic
=form_for [presentation, Topic.new], :html => {:class => "collapsable_topic"} do |f|
  =render :partial => "/topics/form", :object => f, :locals => {:presentation => presentation}
  =submit_tag "Create"

%ol.collection{:id => "topics", :path => "presentations.#{presentation.id}.topics.sort"}
  =tree_ol(presentation.topics) {|item| link_to h(item.title), "/presentations/#{presentation.id}/slides/#{item.topic_slide}/edit" }

