=content_for :headline do
  %h1
    %span.type=@content.media_type.capitalize
    =@content.asset.name
    %span.action
      =link_to 'show', asset_content_path(@content)
      =link_to 'delete', asset_path(@content.asset), :method => :delete

#sidebar
  =render :partial => "shared/classification", :locals => {:asset => @content.asset}
  =render :partial => "slides", :locals => {:presentation =>  @content}
  
#main
  =render :partial => "shared/asset_form", :locals => {:model => @content, :asset => @content.asset, :submit => "Save"}
