#black_dimmer
#white_dimmer
-position = 0
-if @presentation.root_frame.descendants.empty?
  %a{:href => edit_presentation_path(@presentation)} edit
-@presentation.root_frame.descendants.each do |frame|
  -position = position + 1
  %div.frame{:id => position, :alt => frame.title, :level => frame.ancestors.length.to_s}
    =render :file => File.join(template_path(@presentation.template), "outer.html.haml").to_s, :locals => {:frame => frame, :presentation => @presentation, :content => render_inner_template(frame)}
#selector
  %table{:frames => @presentation.root_frame.descendants.length-1}
    %tbody
      -number = 0
      -@presentation.root_frame.descendants.each do |frame|
        -level = frame.ancestors.length-1
        %tr{:frame_number => number, :level => level}
          %td{:class => "position"}=number+1
          %td{:style => "padding-left:"+level.to_s+"em"}
            =frame.title
        -number += 1
#menu
  -unless @presentation.root_frame == nil
    =menutree_ol(@presentation.root_frame.children()) {|item| item.title }
