//=stylesheet_link_tag "/templates/"+@frame.template.to_s
=javascript_include_tag "fassets-presentations/frames"
=content_for :h1 do
  #type
    %small Presentation
    Frame
  #title
    %small=link_to @presentation.asset.name, fassets_presentations.edit_presentation_path(@presentation)
    =link_to @frame.title, fassets_presentations.presentation_frame_path(@presentation, @frame)
  #action
    %span.action
      =button_to "Delete", [@presentation, @frame], :method => :delete, :onclick => "return confirm('Are you sure?')"
      =form_for [main_app,current_user, TrayPosition.new(:user_id => current_user.id, :clipboard_type => 'frame', :clipboard_id => @frame.id)], :html => {:class => :inline} do |f|
        =f.hidden_field :user_id
        =f.hidden_field :clipboard_id
        =f.hidden_field :clipboard_type
        =submit_tag "Put on Tray"
      
#sidebar
  =render :partial => "fassets-presentations/presentations/frames", :locals => {:presentation =>  @presentation}
  
#main
  #editorhelp=render :partial => "fassets-presentations/shared/editorhelp"
  =form_for  [@presentation,  @frame], :html => {:id => "edit_frame"} do |f|
    =submit_tag "Save", :id => "frame_save"
    #edit_warning{:style => "visibility: hidden"}There are unsaved changes on this frame
    =render :partial => "fassets-presentations/frames/form", :object => f, :locals => {:disable_self => true}
    %h2 Slots
    %ul#slots
      =render :partial => "fassets-presentations/frames/slot", :collection => @frame.slots
