=content_for :h1 do
  #type
    %small Catalog
    Facet
  #title
    %small=link_to @catalog.title, catalog_path(@catalog)
    =@facet.caption
  #action
    =button_to "Delete", [@catalog, @facet], :method => :delete, :onclick => "return confirm('Are you sure?')"
#sidebar
  %h2.labeltitle New Label
  =form_for [@catalog, @facet, Label.new], :html => {:class => "collapsable_label"} do |f|
    =render :partial => "/labels/form", :object => f
    =submit_tag "Create"

  %h2.facetlabelstitle Labels
  %ol.collection.collapsable_facetlabels{:class => @facet.label_order == 'position' ? "sortable" : nil, :id => "catalogs.#{@catalog.id}.facets.#{@facet.id}.labels.sort"}
    -@facet.ordered_labels.each do |label|
      %li{:id => "label_#{label.id}"}
        =label.caption
        .content
          =form_for [@catalog, @facet, label] do |f|
            =render :partial => "/labels/form", :object => f
            =submit_tag "Save" 
#main  
  =form_for [@catalog, @facet] do |f|
    =render :partial => "form", :object => f
    =submit_tag "Save"
