%p
  %label{:for => 'title'} Title:
  =form.text_field :title
-unless presentation.topics.empty?
  %p
    %label{:for => 'parent'} Parent Topic:
    =select_tag 'parent_id', options_for_select(nested_set_options(presentation.topics.root) {|i| "#{'-' * i.level} #{i.title}" } )
