#left.slot{:style => "position: relative; float: left; width: 48%; height: 100%"}
  =render_slot(slide.slot("left"), "center")
#right.slot{:style => "position: relative; float: right; width: 48%; height: 100%;"}
  =render_slot(slide.slot("right"), "center")