.slot{:style => "position: absolute; top: 1%; width: 100%; height: 48.5%;"}
  =render_slot(slide.slot("top"), "center")
.slot{:style => "position: absolute; top: 50.5%; width: 100%; height: 48.5%;"}
  =render_slot(slide.slot("bottom"), "center")