#slide
  #header
    %h1=@slide.title
  #content
    =@inner_template
  #footer
    -count = 0
    -@presentation.slides.each do |slide|
      -count = count + 1
      -if slide.id == @slide.id
        =count
      -else
        =link_to count, presentation_slide_path(@presentation, slide)
    =@presentation.title
