.header
  =link_to "edit", edit_presentation_slide_path(slide.presentation, slide)
  -unless slide.title == "Title"
    %h1=slide.title
.content
  =content
.footer
  %span.title=presentation.title
  %span.position="#{slide.position}/#{presentation.slides.count}"