%h1=slide.presentation.title
.slot=render_slot(slide.slot("subtitle"), "center_h cent")
.slot{:style => "position: absolute; top: 50.5%; width: 100%; height: 48.5%;"}
  =render_slot(slide.slot("center"), "center")
