.slot{:style => "position: absolute; top: 1%; left: 1%; width: 28%; height: 48.5%;"}
  =render_slot(slide.slot("topleft"), "center")
.slot{:style => "position: absolute; top: 1%; right: 1%; width: 68%; height: 48.5%;"}
  =render_slot(slide.slot("topright"), "center")
.slot{:style => "position: absolute; top: 50.5%; width: 100%; height: 48.5%;"}
  =render_slot(slide.slot("bottom"), "center")