/* @group Global */

* {
	margin: 0;
	padding: 0;
}
body {
	font: small "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: #f5f5f5;
}

img {
	border: 0;
}
a {
	color: #0044b7;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.icon {
	padding-left: 18px;
	background-repeat: no-repeat;
}
a.icon.remove {
	background-image: url("/images/remove.png");
}
a.icon.edit {
	background-image: url("/images/edit.png");
}
a.icon.link {
	background-image: url("/images/link.png");
}
a.icon.presentation {
	background-image: url("/images/presentation_small.png");
}
a.icon.file {
	background-image: url("/images/image.png");
}

li {
	list-style: none;
}

.action {
	font-size: 10pt;
}
.center {
	text-align: center;
}


.clear {
	clear: both;
}


h2, h3 {
	font-weight: normal;
	margin-bottom: .2em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.1em;
}
/* @end */

/* @group Header */
#message {
	position:absolute;
	top: 0px;
	left: 0px;
	line-height: 2.3em;
	padding: 0 1em;
	font-weight: bold;
	color: white;
	background-color: #469b00;
}
#error_message {
	position:absolute;
	top: 0px;
	left: 0px;
	line-height: 2.3em;
	padding: 0 1em;
	font-weight: bold;
	color: white;
	background-color: red;
}
#form_error {
	padding: 0 1em;
	font-weight: bold;
	color: red; 
}
#header {
	position: relative;
	padding-right: 1em;
	line-height: 2.3em;
	text-align: right;
	background-color: #151515;
	color: #5c5c5c;
}
#header .home {
	font-weight: bold;
	font-size: 1.1em;
}
#header #catalog_select {
  display: inline;
  font-style: normal;
  color:  #167eff;
}
#header em {
	font-weight: bold;
	font-style: normal;
	padding-right: .5em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#header a{
	color: #167eff;
}
ul#catalogs {
	display: inline;
}
ul#catalogs li {
	display:inline;
}
#header ul {
	display: inline;
}
#header ul li {
	display:inline;
}
#header ul li .active {
  font-weight:  bold;
}

#header #session {
  display: inline;
}

#toolbar {
	position: absolute;
	bottom: 2px;
	right: 15px;
}

/* @end */

/* @group Tray */


#tray {
	padding: .5em;
	border-top: 1px solid #bbb;
	z-index: 2;
}
#tray ul {
	padding: .3em;
	text-align: right;
}
#tray ul li {
	padding-left: .5em;
	display: inline;
}
#tray ol {
	min-height: 48px;
	margin-top: .7em;
}
#tray ol li.asset_placeholder {
	float: left;
	height: 48px;
	width: 250px;
	margin: 0 1em 1em 0;
	background-color: #bfd8f7;
}
#tray ol.active {
	background-color: #dce9ff;
	border: 1px dotted #0060ff;
}
#tray ol.hover {
	border: 1px solid #0060ff;
	background-color: #dce9ff;
}




#tray ol li.clipboard {
	position: relative;
	float: left;
	width: 250px;
	height:  48px;
	margin: 0 1em 1em 0;
}
#tray ol li.clipboard .icon {
	float:  left;
	width: 52px;
	height:  48px;
}
#tray ol li.clipboard .caption {
	display: block;
	line-height: 48px;
	height: 48px;
	overflow: hidden;
}
#tray ol li.clipboard .type{
	position: absolute;
	top: 2px;
	left:  52px;
	color: #999;
	font-size: .8em;
}
#tray ol li.clipboard .action{
	position: absolute;
	top: 2px;
	right:  2px;
}
#tray ol li.clipboard input {
	position: absolute;
	bottom: 0px;
	left:  52px;	
}

/* @end */

/* @group Container */

#container {
	padding: 15px;
	background-color: white;
}
#sidebar {
	float: right;
	width:  30%;
}
#main {
	position: relative;
	float: left;
	width:  65%;
}
#main p {
	line-height: 1.4em;
}
#edit_warning {
	position: absolute;
	top: 0px;
	right: 0px;
	color:  red;
	font-weight: bold;
	font-size: 10pt;
	padding-left: 36px;
	line-height: 32px;
	background: url(/images/warning.png) no-repeat;
}
/* @end */

h1 {
	padding: .5em  15px;
	background-color: #f5f5f5;
	border-top: 4px solid #bbb;
	border-bottom: 1px solid #ddd;
	font-size: 2em;
}
h1 #type {
	text-align: right;
	float: left;
	margin-right: .3em;
	color: #6e6e6e;
}
h1 small{
	font-size: .5em;
	display: block;
}



h1 #action {
	position: absolute;
	bottom: 1em;
	right: 15px;	
}
#parent {
	color: #6e6e6e;
	font-weight: bold;
}


/* @group Labels */


/* @end */


/* @group Facets */

#sidebar .facet{
	margin-bottom: 1em;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#sidebar .facet ul {
	padding: .3em;
}
#sidebar .facet .action {
	text-align: right;
}
#sidebar .facet .label {
	display: inline;
	padding-right: .8em;
}
#sidebar .facet .label .count {
	font-size: .8em;
}
#sidebar .facet .caption {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	color: white;
	padding: .2em .5em;
	font-weight: bold;
}
#sidebar .facet .caption a {
	color: white;
	text-decoration: none;
}

#sidebar .facet .caption a:hover {
	text-decoration: underline;
}

#sidebar .facet .labels {
	padding: .5em;
}

/* @end */

/* @group Filter */
#filter {
	margin-bottom: 1em;
}

#filter ul li {
	display:  inline;
}

#filter ul li.item {
	margin-right: 1em;
}

#filter ul li.item strong {	
	-webkit-border-radius: 3px;
	padding: .2em .5em;
	color: white;
}

/* @end */

/* @group Assets */

li.asset {
	position: relative;
	float: left;
	width: 250px;
	height:  48px;
	margin: 0 1em 1em 0;
}

li.asset .icon {
	float:  left;
	width: 52px;
	height:  48px;
}
li.asset .caption {
	display: block;
	line-height: 48px;
	height: 48px;
	overflow: hidden;
}
li.asset .type{
	position: absolute;
	top: 2px;
	left:  52px;
	color: #999;
	font-size: .8em;
}
li.asset .action{
	position: absolute;
	top: 2px;
	right:  2px;
}
li.asset input {
	position: absolute;
	bottom: 0px;
	left:  52px;	
}

/* @end */

#sidebar .collection {
	margin-bottom: .5em;
}
#sidebar .collection li {
	padding: .3em .5em;
	border-bottom: 1px solid #eee;	
}
.handle {
	cursor: pointer;
}
#sidebar li.collapsable .content{
	margin-top: .5em;
}
/* @group Forms */

form {
}
form.inline {
	margin: 0;
	display: inline;
}
form.button-to {
	display: inline;
}
form.button-to div {
	display: inline;
}
form.button-to div input{
	font-size: 8pt;
}

form.panel {
	margin-bottom: 1em;
}

form p {
	margin-bottom: 1em;
}
label {
	display: block;
	margin-bottom: .3em;
	font-weight: bold;
	color: #363636;
}
textarea {
	font: 1em Monaco, "Courier New", Courier, mono;
}

.submit {
	margin-top: 1em;
}
form.button-to .delete-button {
	background-image: url("/images/delete.png");
}



/* @end */

/* @group Sidebar */

#sidebar form input[type=text] {
	width: 90%;	
}

/* @end */


/* @group Footer */

#footer {
	color: #595959;
	padding: 1em;
	text-align: center;
}

/* @end */

/* @group FacetColors */

span.color {
	font-weight: bold;
	color: white;
	padding: .1em .5em;
}
.red {background-color: #d10818;}
.red_lite {background-color: #f9c0c4;}
.red_lite a {color: #d10818;}

.orange {background-color: #ff6300;}
.orange_lite {background-color: #ffd2a7;}
.orange_lite a {color: #d43d00;}

.yellow {background-color: #f4cb00;}
.yellow_lite {background-color: #f3e8b6;}
.yellow_lite a {color: #f4cb00;}

.green {background-color: #55b100;}
.green_lite {background-color: #c1f294;}
.green_lite a {color: #55b100;}

.blue {background-color: #478adb;}
.blue_lite {background-color: #bfd8f7;}
.blue_lite a {color: #478adb;}

.violet {background-color: #8600ab;}
.violet_lite {background-color: #cf9ddc;}
.violet_lite a {color: #8600ab;}

.gray {background-color: #3a3a3a;}
.gray_lite {background-color: #c5c5c5;}
.gray_lite {color: #3a3a3a;}

/* @end */

/* @group Slot */
#slots li {
padding: .3em;
margin: .3em;
}

#slots li>.name {
	font-weight: bold;
	padding: .3em .5em;
	display: inline;
	background-color: #f0f0f0;
}
#slots li>.content {
	padding: .5em;
	background-color: #f0f0f0;	
}
#slots li>.content textarea{
	width: 99%;
}

/* @end */

#slots li.active {
	background-color: #dce9ff;
	border: 1px dotted #0060ff;
}
#slots li.hover {
	border: 1px solid #0060ff;
	background-color: #dce9ff;
}
