* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
img {
	border: 0;
}
em {
	font-style: normal;
	font-weight: bold;
}

.red {
	color: red;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.frame {
	overflow: hidden;
}
.header {
	background-color: white;
  margin-bottom: 1.5em;
	position:relative;
	height: 10%;
	color: black;
}
.header a {
	color: white; 
}
.header a:hover {
	color: black; 
}
.header h1 {
	position: absolute;
	left: 4%;
	bottom: 0.1em;
	font-weight: bold;
	font-size: 1.7em;
}
.content {
	font-size: 1.2em;
	position:relative;	
	height: 80%;
	width: 92%;
	margin:auto;
}
.content h1 {
    font-size: 1.5em; 
}
.content h2 {
    font-size: 1.3em; 
}
.content h3 {
    font-size: 1.1em; 
}
.content em {
  font-weight: bold;
}
.content strong {
  font-weight: bold;
  color: #CC6600;
}
.content blockquote {
	margin: 1em 2em;
	color: #666;
	border-left: 2px solid #999;
	padding-left: 1em
}
.content code {
  font-style: italic;
  font-weight: normal;
}
.footer {
	width: 92%;
	margin:auto;	
	text-align: right;
	color: #666;
}
.slot {
	width: 100%;
}
.slot p {
	margin: .8em 0;
}
.slot ul, .slot ol {
	margin: .3em 0;
	width: 100%;
	padding-left: 2em;
}
.slot li{
	padding: .2em;
}
.slot pre{
	margin: .8em 0;
}
.slot.cent {
	text-align: center;
}
.slot {
}
.container {
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: .8em 0;
	width: 100%;
	background-color: #ececec;
}
.container .title {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom: .15em solid #a8a8a8;
	padding: .3em;
	background-color: #171717;
	color: #fff;
	font-weight: bold;
}
#selector {
  position: absolute;
	color: white;
	background-color: #222;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	border: 10px solid #222;
	overflow: hidden;
  z-index: 3;
}
#selector table {
	border-collapse: collapse;
	width: 100%;
}
#selector table tr {
	list-style: none;
}
#selector table tr td.position{
	text-align: right;
	padding-right: .5em;
}
#selector table tr td.topic_item {
  font-weight: bold;
}
#selector table tr td.frame_item {
  font-weight: normal;
}
#selector table tr.active {
	background-color: #0044b7;
}
#selector table tr.selected {
	background-color: white;
	color: #222;
}
#black_dimmer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  display: none;
  background-color: #171717;
}
#white_dimmer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  display: none;
  background-color: white;
}
#menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  float: right;
  background-color: #E5E5E5;
}
#menu_header {
  font-size: 0.9em;
  font-weight: bold;
  color: black;
  background-color: #FFD699;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position:relative;
  margin-bottom: 0;
}
#menu {
  font-size: 0.8em;
}
#menu a {
  color: black;
  text-decoration: none;
}
#menu a:hover {
  color: #0066FF;
}
#menu li a:visited {
  text-decoration: none;
}
#menu ol {
  display: block;
  margin: 0.2em 0 0 1.5em;
	padding: 0.3em 0;
	list-style-type: none;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
}
#menu ol li {
  padding-top: 0.5em;
}
#menu ol ol {
  margin-top: 0.15em;
  font-size: 0.95em;
  font-weight: normal;
}
#menu ol li.selected {
    color: #0066FF;
/*  font-weight: bold;*/
}
#menu ol li.selected a{
    color: #0066FF;
}
#menu ol li.selected li {
  font-weight: normal;
}
#menu ol li.selected li a{
  font-weight: normal;
  color: black;
}
#menu ol li.selected li a:hover{
  color: #0066FF;
}
#presentationhelp{
  position: absolute;
  top: 10%;
  left: 20%;
  border: solid 2px grey;
  color: black;
  background-color: white;
  z-index: 3;
  visibility: hidden;
  padding: 2em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}
#ShortcutTable {
  margin-left: auto;
  margin-right: auto;
}
#ShortcutTable td{
  padding: 5px;
}
