!!! XML
!!! 1.1
%html
  %head
    =stylesheet_link_tag "presentations"
    =stylesheet_link_tag "/templates/#{@presentation.template}/styles.css"
    =javascript_include_tag "presentations"
    =javascript_include_tag "/templates/#{@presentation.template}/script.js"
    %title=@presentation.title
  %body
    =yield :layout
    #presentationhelp=render :partial => "shared/presentationhelp"
  
