%li.asset{:id => tp ? "tp_#{tp.id}" : "asset_#{asset.id}", :rel => tp ? asset.id : nil}
  .icon
    =render_content_partial(asset.content, :icon)
  =link_to asset.name.gsub(" ", "&nbsp;"), asset_content_path(asset.content), :class => "caption"
  .type
    =asset.content.media_type.upcase
  .action
    -if user_signed_in?
      =link_to image_tag("edit.png", :width => 15,  :height => 15), edit_asset_content_path(asset.content)
      =image_tag "drag.png", :width => 12, :height => 13, :class => "handle"
  -if tp
    =check_box_tag "del[]", tp.id

