%h2.classificationtitle Add Classification
=form_for Classification.new(:asset_id => asset.id),:html => {:class => 'collapsable_classification'}do |f|
  =select("classification", "catalog_id", Catalog.all.map {|c| [ c.title, c.id ] })
  =f.hidden_field :asset_id
  =submit_tag "Add"
  
%ul.collection{:class => "drawers"}
  -asset.classifications.each do |classification|
    %h2.title=classification.catalog.title
    %li
      .handle=classification.catalog.title
      .content
        =button_to "Drop", [classification], :method => :delete, :confirm => "Sure?"
        =form_for [classification] do
          =submit_tag "Save"
          -facet2label = Hash[*classification.labels.map{|l| [l.facet_id, l.id]}.flatten]
          .submit
          -classification.catalog.facets.each do |facet|
            %p
              %label=facet.caption
              =label_select(facet, facet2label[facet.id])

