%li.clipboard{:id => "tp_#{tp.id}", :class => tp.clipboard_type}
  .icon
    =image_tag 'clipboard.png'
  =link_to tp.clipboard.title, tp.clipboard.path, :class => "caption"
  .type
    =tp.clipboard_type.upcase
  .action
    =link_to image_tag("edit.png", :width => 15,  :height => 15), tp.clipboard.path + "/edit"
    =image_tag "drag.png", :width => 12, :height => 13, :class => "handle" 
  =check_box_tag "del[]", tp.id
