%h2 Markup:
%br
%table{:border => "1", :rules => "all", :cellpadding => "20", :cellspacing => "10", :id => "MarkupTable"}
  %tr
    %th Type
    %th Command
    %th Example
  %tr
    %td H1-Header
    %td # h1-header
  %tr
    %td H2-Header
    %td ## h2-header
  %tr
    %td H3-Header
    %td ### h3-header
  %tr
    %td Indentation for Bullet List and Ordered List
    %td 4 Spaces
  %tr
    %td Bullet List
    %td *,+,-
    %td * one<br>&nbsp;&nbsp;&nbsp;&nbsp;* subone<br>* two
  %tr
    %td Ordered List
    %td 1. or 1) or (1) or (i)
    %td 1. one <br>&nbsp;&nbsp;&nbsp;&nbsp;(2) subone<br>2) two
  %tr
    %td Emphasis
    %td *emphasized*
  %tr
    %td Strong Emphasis
    %td **strongly emphasized**
  %tr
    %td Block quotation
    %td > block quote line
    %td > This is a block quote. This<br>> paragraph has two lines.<br>> This is a list inside a block quote.<br>> 2. Second item."
  %tr
    %td Superscript
    %td Basis^Exponent^
    %td 2^10^ is 1024
  %tr
    %td Subscript
    %td Text~Index~
    %td H~2~O is water

%br
For a complete documentation of all supported commands and their usage visit:
=link_to 'Pandoc-Markdown', 'http://johnmacfarlane.net/pandoc/README.html#pandocs-markdown'
  
