%h2 Markup:
%table{:border => "1"}
  %tr
    %th Typ
    %th Befehl
  %tr
    %td H1-Überschrift
    %td # Überschrift
  %tr
    %td H2-Überschrift
    %td ## Überschrift
  %tr
    %td H3-Überschrift
    %td ### Überschrift
  %tr
    %td Einrückung für neue Ebene
    %td 4 Spaces
