-if logged_in?
  #tray_bar
    =link_to "Upload File", new_file_asset_url
    |
    =link_to "New URL", new_url_url
    |
    =link_to "New Presentation", new_presentation_url          
  #tray
    =render :partial => "shared/tray_position", :collection => current_user.tray_positions
  .clear