%li.asset
  .icon
    =render_content_partial(asset.content, :icon)
  .type
    =asset.content.media_type.upcase
    -if logged_in?
      =link_to "edit", edit_asset_content_path(asset.content)
  =link_to asset.name, asset_content_path(asset.content)
