%li.asset{:id => tp ? "tp_#{tp.id}" : "asset_#{asset.id}", :rel => tp ? asset.id : nil, :asset_id => asset ? asset.id: nil}
  .icon
    =render :partial => content_partial(asset.content, :icon), :locals => {:content => asset.content}
  =link_to asset.name, url_for(asset.content), :class => "caption"
  .type
    =asset.content.media_type.upcase
  .action
    -if user_signed_in?
      =link_to image_tag("edit.png", :width => 15,  :height => 15), url_for(asset.content) + "/edit"
      =image_tag "drag.png", :width => 12, :height => 13, :class => "handle"
  -if tp
    =check_box_tag "del[]", tp.id

