$(function(){
  var drag_opts = {
    handle: ".handle",
    //helper: "clone",
    cursorAt: {top: 48,left: 48},
    connectToSortable: "#tray ol",
    appendTo: "body",
    helper: function(){
      var asset = $(this).clone();
      asset.css("width",96);
      asset.css("height",96);
      return $(asset);
    },
    start:function(e, ui) {
      $('#tray ol').addClass("active");
    },
    stop:function(e, ui) {
      $(this).parent().parent().parent().parent().find(".content .slot_asset").html("Drop Asset here!");
      $(this).parent().parent().parent().parent().find(".name a").remove();
      $(this).parent().parent().parent().parent().find(".name .drop_asset").remove();
      $('#tray ol').removeClass("active");
    }
  }
  $('.slot').droppable({
    accept:'.asset',
    activeClass:'active',
    hoverClass:'hover',
    drop:function(ev,ui){
      var id;
      var asset = $(ui.draggable).clone();
      if ($(ui.draggable).attr("rel") != "undefined") {
        id = $(ui.draggable).attr("rel");
        asset.find("input").remove();
        asset.attr("id", "asset_" + id);
      } else {
        id = $(ui.draggable).attr("id").split('_')[1];
      }
      $(this).find("input").attr("value",id);
      $(this).find(".name select").val("asset");
      $(this).find(".slot_asset").load('/asset/'+id+'/preview', function(){
        resize_slots();
        $(".asset").draggable(drag_opts);
      });
      edit_link = '<%= image_tag("fassets_core/edit.png", :alt => "Edit", :title => "Edit", :width => "15", :height => "15") %>'
      drop_link = '<%= image_tag("fassets_core/delete.png", :width => "15", :height => "15", :class => "drop_asset") %>'
      if ($(this).find(".name a").length){
        $(this).find(".name a").html(edit_link);
      } else {
        $(this).find(".name").append(edit_link);
      }
      if (!$(this).find(".name .drop_asset").length){
        $(this).find(".name").append(drop_link);
        $(".drop_asset").click(function(){
          //$(this).parent().parent().find("input").val("");
          $(this).parent().parent().find(".slot_asset").html("Drop Asset here!");
          $(this).parent().parent().find(".name a").remove();
          $(this).parent().parent().find(".name .drop_asset").remove();
          $('#edit_warning').css('visibility','visible');
        });
      }
      $(this).find(".slot_asset").show();
      $(this).find(".slot_content").hide();
      $('#edit_warning').css('visibility','visible');
    },
  });
  $('.slot .name select').change(function(){
    if ($(this).parent().parent().find(".slot").length != 0){
      var content = $(this).parent().parent().find(".slot");
      var text = content.parent().find(".slot_content");
      var asset = content.parent().find(".slot_asset");
    }else{
      var text = $(this).parent().parent().find(".slot_content");
      var asset = $(this).parent().parent().find(".slot_asset"); 
    }
    if ($(this).val() == "markup") {
      asset.hide();
      text.show();
      resize_slots();
      make_editable()
    } else {
      resize_slots();
      asset.show();
    }
  });
  $(".drop_asset").click(function(){
    $(this).parent().parent().find(".content input").val("");
    $(this).parent().parent().find(".content .slot_asset").html("Drop Asset here!");
    $(this).parent().parent().find(".name a").remove();
    $(this).parent().parent().find(".name .drop_asset").remove();
    $('#edit_warning').css('visibility','visible');
  });
  var resize_slots = function(){
    height = $(window).height();
    width = $(window).width();
    $("#slot_top").css("height", height*0.35 + 'px');
    $("#slot_top").css("width", width*0.67 + 'px');
    $("#slot_bottom").css("height", height*0.35 + 'px');
    $("#slot_bottom").css("width", width*0.67 + 'px');
    $("#slot_topleft").css("height", height*0.35 + 'px');
    $("#slot_topleft").css("width", width*0.33 + 'px');
    $("#slot_topright").css("height", height*0.35 + 'px');
    $("#slot_topright").css("width", width*0.33 + 'px');
    $("#slot_left").css("height", height*0.7 + 'px');
    $("#slot_left").css("width", width*0.33 + 'px');
    $("#slot_right").css("height", height*0.7 + 'px');
    $("#slot_right").css("width", width*0.33 + 'px');
    $("#slot_center").css("height", height*0.7 + 'px');
    $("#slot_center").css("width", width*0.67 + 'px');
    $("#slot_subtitle").css("height", height*0.35 + 'px');
    $("#slot_subtitle").css("width", width*0.67 + 'px');
    $("#slot_centertitle").css("height", height*0.35 + 'px');
    $("#slot_centertitle").css("width", width*0.67 + 'px');
    $(".slot .wysiwyg").each(function(i,e) {
      parent = $(e).parent();
      $(e).css("height", parent.height()*0.92);
      $(e).css("width", parent.width()*0.92);
    });
    $(".slot .wysiwyg iframe").each(function(i,e) {
      parent = $(e).parent();
      $(e).css("height", parent.height()*0.955);
      $(e).css("width", parent.width());
    });   
    $("img.fit").scaleImage({
      parent: "li",
      scale: 'fit',
      center: false
    });
    $("#slot_bottom .slot_asset img").scaleImage({
      parent: "li",
      scale: 'fit',
      center: true
    });
    $("#slot_top .slot_asset img").scaleImage({
      parent: "li",
      scale: 'fit',
      center: true
    });
    $("#slot_center .slot_asset img").scaleImage({
      parent: "li",
      scale: 'fit',
      center: true
    });
  }
  resize_slots();
  $(window).resize(function(){resize_slots();});
  $.editable.addInputType('autogrow', {
      element : function(settings, original) {
          var textarea = $('<textarea>');
          if (settings.rows) {
              textarea.attr('rows', settings.rows);
          } else {
              textarea.height(settings.height);
          }
          if (settings.cols) {
              textarea.attr('cols', settings.cols);
          } else {
              textarea.width(settings.width);
          }
          $(this).append(textarea);
          return(textarea);
      },
      plugin : function(settings, original) {
          $('textarea', this).autoGrow(settings.autogrow);
      }
  });
  var make_editable = function(){           
    $(".definition .title").editable("/presentations/to_html",{
      onblur : 'submit',
      cssclass : 'definition_title'
    });
    $(".definition .content").editable("/presentations/to_html", {
      type     : 'autogrow',
      loadurl  : '/presentations/to_markdown',
      id: "definition_content",
      onblur : 'submit',
      width : "95%",
      loaddata: function(value,settings){
        return {content: value};
      },
      submitdata : function(value, settings) {
        return {content: value};
      }
    });
    $(".example .title").editable("/presentations/to_html",{
      onblur : 'submit',
      cssclass : 'example_title',
    });
    $(".example .content").editable("/presentations/to_html", {
      type     : 'autogrow',
      loadurl  : '/presentations/to_markdown',
      id: "example_content",
      onblur : 'submit',
      cssclass : 'example_content',
      width : "95%",
      loaddata: function(value,settings){
        return {content: value};
      },
      submitdata : function(value, settings) {
        return {content: value};
      }
    });
    $(".box .title").editable("/presentations/to_html", {
      onblur : 'submit',
      cssclass : 'box_title',
    });
    $(".box .content").editable("/presentations/to_html", {
      type     : 'autogrow',
      loadurl  : '/presentations/to_markdown',
      id: "box_content",
      onblur : 'submit',
      cssclass : 'box_content',
      width : "95%",
      loaddata: function(value,settings){
        return {content: value};
      },
      submitdata : function(value, settings) {
        return {content: value};
      }
    });
    $(".cite .quote").editable("/presentations/to_html", {
      type     : 'autogrow',
      loadurl  : '/presentations/to_markdown',
      id: "box_content",
      onblur : 'submit',
      cssclass : 'cite_quote',
      width : "95%",
      loaddata: function(value,settings){
        return {content: value};
      },
      submitdata : function(value, settings) {
        return {content: value};
      }
    });
    $(".foreign .title").editable("/presentations/to_html", {
      onblur : 'submit',
      cssclass : 'foreign_title'
    });
    $(".foreign .translation").editable("/presentations/to_html", {
      type     : 'textarea',
      loadurl  : '/presentations/to_markdown',
      id: "foreign_translation",
      onblur : 'submit',
      cssclass : 'foreign_translation',
      width : "95%",
      loaddata: function(value,settings){
        return {content: value};
      },
      submitdata : function(value, settings) {
        return {content: value};
      }
    });
    $(".slot_content > p").editable("/presentations/to_html", {
      type     : 'autogrow',
      loadurl  : '/presentations/to_markdown',
      id: "definition_content",
      onblur : 'submit',
      width : "95%",
      cssclass : 'para',
      removeEmpty: true,
      loaddata: function(value,settings){
        return {content: value};
      },
      submitdata : function(value, settings) {
        return {content: value};
      }
    });
    $(".slot_content").click(function(e){
      if ($(this).attr("class") != "slot_content selected"){
        $(".slot_content").attr("class","slot_content");
        $(this).attr("class","slot_content selected");
        $('#editor_buttons input').attr("disabled", false);
        return;
      }
      if ($(this).find("textarea").length > 0){
        return;
      }
      var x = e.pageX - this.offsetLeft;
      var y = e.pageY;
      var rel = "under";
      var inserted = false;
      var prev_el = "";
      var para = $('<p class="sortable"></p');
      $(this).children().each(function(index, el){
        var offset = $(el).position();
        var el_class = $(el).attr("class");
        var margin_top = parseInt($(el).css("margin-top").replace("px",""));
        var title_height = $(el).find(".title").height();
        pos_y_top = offset.top+margin_top+title_height+20;
        pos_y_bottom = offset.top + $(el).height();
        if (y <= pos_y_top && rel == "under"){
          rel = "over";
          if (!$(prev_el).is("p") && !$(el).is("p") ){
            $(el).before(para);
            make_editable();
            para.click();
            inserted = true;
          }
        }
        if (y >= pos_y_bottom){
          rel = "under";
        }
        prev_el = el;
      });
      if (inserted == false && !$(prev_el).is("p") && rel == "under"){
        $(this).append(para);
        make_editable();
        para.click();
      }
      if (inserted == false && $(prev_el).is("p") && rel == "under"){
        $(prev_el).click();
      }
      if (inserted == false && prev_el == ""){
        $(this).html(para);
        make_editable();
        para.click();
      }
    });
  };
  $("#frame_save_wysiwyg").click(function(e){
    e.preventDefault();
    var title = $("#edit_frame #frame_title").val();
    var template = $("#frame_template").val();
    var p_id = $("#frame_parent_id").val();
    var data = {frame: {parent_id: p_id, title: title, template: template, content: {}}};
    $(".slot .slot_content").each(function(index, el){
      var slot_id = $(el).parent().attr("id").replace("slot_","");
      var asset_id = $(el).parent().find('#frame_content_'+slot_id+'_asset_id').val();
      var mode = $(el).parent().find('#frame_content_'+slot_id+'_mode').val();
      var markup = $(el).html();
      data['frame']['content'][slot_id] = {asset_id: asset_id, mode: mode, markup: markup};
    });
    $.post($("#edit_frame").attr("action"), data, function(retdata){});
  });
  make_editable();
  $('.slot_content').sortable({
    items: '.sortable',
    axis: "y"
  });
  $('#editor_buttons input').attr("disabled", true);
  // Button events
  $('#def_button').click(function (e){
    e.preventDefault();
    var def = $('<div class="definition sortable"><div class="type">Definition:</div><div class="title"></div><div class="content"></div></div>');
    $(".slot_content.selected").append(def);
    make_editable();
    def.find(".title").click();
  });
  $('#exm_button').click(function (e){
    e.preventDefault();
    var exm = $('<div class="example sortable"><div class="type">Example:</div><div class="title"></div><div class="content"></div></div>');
    $(".slot_content.selected").append(exm);
    make_editable();
    exm.find(".title").click();
  });
  $('#box_button').click(function (e){
    e.preventDefault();
    var box = $('<div class="box sortable"><div class="title"></div><div class="content"></div></div>');
    $(".slot_content.selected").append(box);
    make_editable();
    box.find(".title").click();
  });
  $('#for_button').click(function (e){
    e.preventDefault();
    var foreign = $('<div class="foreign sortable"><div class="title"></div>(<div class="translation"></div>)</div>');
    $(".slot_content.selected").append(foreign);
    make_editable();
    foreign.find(".title").click();
  });
});

