#left.slot{:style => 'position: relative; float: left; width:'+frame.slot("left")["width"].to_s+'%; height: 100%'}
  =render_slot(frame.slot("left"), "center").html_safe
#right.slot{:style => 'position: relative; float: right; width:'+frame.slot("right")["width"].to_s+'%; height: 100%;'}
  =render_slot(frame.slot("right"), "center").html_safe

