-top_height = frame.slot("left") ? frame.slot("left")["height"] : ""
-bottom_height = frame.slot("left") ? frame.slot("right")["height"] : ""
.slot{:style => "position: absolute; top: 1%; width: 100%; height: "+top_height.to_s+"%;"}
  =render_slot(frame.slot("top"), "center").html_safe
.slot{:style => "position: absolute; top:"+top_height.to_s+"%; width: 100%; height:"+bottom_height.to_s+"%;"}
  =render_slot(frame.slot("bottom"), "center").html_safe
