.title
  #title.slot=render_slot(frame.slot("title")).html_safe
  #subtitle.slot=render_slot(frame.slot("subtitle")).html_safe
  .slot{:style => 'text-align : center;margin-top : 7%;'}=render_slot(frame.slot("misc")).html_safe