<!DOCTYPE html>
<html>
<head>
  <title>FassetsPresentations</title>
  <%= stylesheet_link_tag    "fassets-presentations/application" %>
  <%= javascript_include_tag "fassets-presentations/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
