.slot{:style => "position: absolute; top: 50.5%; width: 100%; height: 48.5%; text-align: center; font-size: 1.7em; font-weight: bold;", :class => "center"}
  =render_slot(frame.slot("centertitle"), "center").html_safe
.slot{:class => "center subtitle"}=render_slot(frame.slot("subtitle"), "center").html_safe
