-topleft_width = frame.slot("topleft") ? frame.slot("topleft")["width"] : ""
-topleft_height = frame.slot("topleft") ? frame.slot("topleft")["height"] : ""
-topright_width = frame.slot("topright") ? frame.slot("topright")["width"] : ""
-topright_height = frame.slot("topleft") ? frame.slot("topright")["height"] : ""
-bottom_width = frame.slot("bottom") ? frame.slot("bottom")["width"] : ""
-bottom_height = frame.slot("bottom") ? frame.slot("bottom")["height"] : ""
.slot{:style => "position: absolute; top: 1%; left: 1%; width:"+topleft_width.to_s+"%; height:"+topleft_height.to_s+"%;"}
  =render_slot(frame.slot("topleft"), "center").html_safe
.slot{:style => "position: absolute; top: 1%; right: 1%; width:"+topright_width.to_s+"%; height:"+topright_height.to_s+"%;"}
  =render_slot(frame.slot("topright"), "center").html_safe
.slot{:style => "position: absolute; top:"+topleft_height.to_s+"%; width:"+bottom_width.to_s+"%; height:"+bottom_height.to_s+"%;"}
  =render_slot(frame.slot("bottom"), "center").html_safe
