.header
  =link_to "edit", main_app.edit_presentation_frame_path(frame.presentation, frame)

.nav
  -unless @presentation.root_frame == nil
    .nav_header
      %h3= link_to @presentation.title, main_app.presentation_path(@presentation)+'#1'
      %p.author
        &copy;
        - author = @presentation.asset.labelings.select { |l| l.label.facet.caption == 'Author' }.first
        - if author
          =author.label.caption
    .nav_body
      =menutree_ol(@presentation.root_frame.children().find(:all,:offset => 1)) { |item| link_to h(item.title), main_app.presentation_path(@presentation)+"#"+item.position.to_s }
    .nav_footer
      %span.position="#{frame.position}/#{presentation.root_frame.descendants.length}"

.content
  =content
