%p{:style => "float: right;"}Close help: h or Esc
%h2 Help:
%br
%table{:border => "1", :rules => "all", :cellpadding => "20", :cellspacing => "10", :id => "ShortcutTable"}
  %tr
    %th Action
    %th Shortcut
  %tr
    %td Next Frame
    %td Space, PgDown, Arrow Right
  %tr
    %td Previous Frame
    %td PgUp, Arrow Left
  %tr
    %td Jump to Frame
    %td j, Number + Return
  %tr
    %td Open Frameselection Menu
    %td Arrow Up, Arrow Down
  %tr
    %td Show/Hide Navigation Menu
    %td n
  %tr
    %td Edit Frame
    %td e
  %tr
    %td Dimm screen white
    %td w
  %tr
    %td Dimm screen black
    %td b, s
  
