=form_for model , :url => main_app.presentations_path do |f| 
  =fields_for "asset", model.asset do |asset|
    %p
      %label{:for => 'name'} Name:
      =asset.text_field :name
  %p
    %label{:for => 'title'} Title:
    =f.text_field :title
    #title_warning
  %p
    %label{:for => 'template'} Template:
    =select(:presentation, :template, TemplateManager.outer_templates, { :selected => @content.template ? @content.template : "default"})
  =submit_tag submit
