-unless wysiwyg == true
  .collapsible
    %h2.title New Frame
    =form_for [presentation, FassetsPresentations::Frame.new], :url => fassets_presentations.presentation_frames_path(presentation) do |f|
      =render :partial => "fassets_presentations/frames/form", :object => f, :locals => {:presentation => presentation, :disable_self => false}
      =submit_tag "Create"
.presentation_title
  =presentation.title
%div{:id => "presentations.#{presentation.id}.frames"}
  %ol#frames{"data-path" => "presentations.#{presentation.id}.frames.sort"}
    -unless presentation.root_frame == nil
      -if wysiwyg == true
        =tree_ol(presentation.root_frame.children(),frame.id) {|item| link_to h(item.title), "/editor"+edit_wysiwyg_presentation_frame_path(presentation, item), :id => item.id }
      -else
        =tree_ol(presentation.root_frame.children()) {|item| link_to h(item.title), edit_presentation_frame_path(presentation, item), :id => item.id }
