=content_for :h1 do
  #type
    =@content.media_type.capitalize
  #title
    =link_to @content.asset.name, presentation_path(@content)
  #action
    %span.action
      =button_to "Delete", delete_presentation_path(@content), :method => :delete, :onclick => "return confirm('Are you sure?')"
      =render :partial => "assets/put_on_tray"
      =button_to "Create Copy", presentation_copy_path(@content), :method => :copy, :onclick => "return confirm('Do you really want to create a copy?')"

#sidebar
  =render :partial => "assets/classification", :locals => {:asset => @content.asset}
  =render :partial => "fassets_presentations/presentations/frames", :locals => {:presentation =>  @content, :options => nil}
  
#main
  =render :partial => "fassets_presentations/presentations/form", :locals => {:model => @content, :asset => @content.asset, :submit => "Save",:options => nil, :new => new}
