-content_for :h1 do
  #type
    =@content.class.to_s
  #name
    New

=render :partial => "fassets-presentations/presentations/form", :locals => {:model => @presentation, :submit => "Create", :options => nil}
