-content_for :h1 do
  #type
    =@content.media_type.capitalize
  #title
    =link_to @content.asset.name, url_for(@content)
    %span.action
      =button_to "Delete", [@content], :method => :delete
      =render :partial => "assets/put_on_tray"

#sidebar
  =render :partial => "assets/classification", :locals => {:asset => @content.asset}
  =render :partial => content_partial(@content, "sidebar")
#main
  =render :partial => "assets/form"