=content_for :h1 do
  #type
    =@content.media_type.capitalize
  #title
    =link_to @content.asset.name, url_for(@content)
  #action
    %span.action
      =button_to "Delete", [@content], :method => :delete, :onclick => "return confirm('Are you sure?')"
      =render :partial => "assets/put_on_tray"
      -if @content.class == Presentation
        =button_to "Create Copy", presentation_copy_path(@content), :method => :copy, :onclick => "return confirm('Do you really want to create a copy?')"

#sidebar
  =render :partial => "assets/classification", :locals => {:asset => @content.asset}
  =render :partial => @content.class.to_s.underscore.pluralize + "/sidebar"
#main
  =render :partial => "assets/form", :locals => {:new => false}
