-content_for :h1 do
  #type
    =@content.class.to_s
  #name
    New
=form_for @content, :html => {:multipart => true} do |f| 
  //=fields_for "#{@content.class.to_s.underscore}" do |asset|
  =render :partial => "shared/error", :locals => {:target => @content}
  =fields_for "asset" do |asset|
    %p
      %label{:for => 'name'} Name:
      =asset.text_field :name
      #name_warning
  %p
    %label{:for => 'catalog_id'} Catalog:
    =select("classification", "catalog_id", Catalog.all.inject([]){|m,c| m << [c.title, c.id]})
  =render :partial => @content.class.to_s.underscore.pluralize + "/form", :locals => {:new => true}, :object => f
  =submit_tag "Create"
