=content_for :h1 do
  #type
    =@content.media_type.capitalize
  #name
    =@content.asset.name
    -if user_signed_in?
      %span.action
        =link_to image_tag("edit.png"), url_for(@content) + "/edit"
        =render :partial => "assets/put_on_tray", :locals => {:current_user => current_user}
=render content_partial(@content, :preview) 
