-content_for :core_head do
  =stylesheet_link_tag 'fassets_presentations/application'
  =javascript_include_tag 'fassets_presentations/application'

=render :template => 'layouts/fassets_core/application'
