-content_for :head do
  =stylesheet_link_tag 'fassets_presentations/application'
  =javascript_include_tag 'fassets_presentations/application'

-content_for :create_asset_link do
  %li=link_to "New Presentation", new_presentation_path

=render :template => 'layouts/fassets_core/application'
