-if user_signed_in?
  -unless TrayPosition.where(:asset_id => @content.asset.id, :user_id => current_user.id).exists?
    =form_for [current_user, TrayPosition.new(:asset_id => @content.asset.id, :user_id => current_user.id)], :html => {:class => "inline"} do |f|
      =f.hidden_field :asset_id
      =f.hidden_field :user_id
      =submit_tag "Put on tray"
