.slot{:style => "position: absolute; top: 1%; left: 1%; width: 48%; height: 48.5%;"}
  =render_slot(frame.slot("topleft"), "center").html_safe
.slot{:style => "position: absolute; top: 1%; right: 1%; width: 48%; height: 48.5%;"}
  =render_slot(frame.slot("topright"), "center").html_safe
.slot{:style => "position: absolute; top: 50.5%; width: 94%; height: 48.5%;", :class => "center_h"}
  =render_slot(frame.slot("bottom"), "center").html_safe
