%li.slot{:id => "slot_#{slot_wysiwyg.name}", :class => "wysiwyg"}
  =text_area_tag "frame[content][#{slot_wysiwyg.name}][markup]", slot_wysiwyg["markup"] ? Kramdown::Document.new(slot_wysiwyg["markup"], :input => 'kramdown').to_html.html_safe : "", :class => "slot_textarea", :style => slot_wysiwyg["mode"] == "asset" ? "display:none" : ""
