%li.slot{:id => "slot_#{slot_wysiwyg.name}", :class => "wysiwyg"}
  .name
    =slot_wysiwyg.name
    -unless slot_wysiwyg.in_template?
      (not in template)
      %button.drop_slot Drop
    =select_tag "frame[content][#{slot_wysiwyg.name}][mode]", options_for_select(["markup", "asset"], slot_wysiwyg["mode"])
    -if slot_wysiwyg.asset and slot_wysiwyg["mode"] == "asset"
      =image_tag("fassets_core/delete.png", :width => 15, :height => 15, :alt => "Drop Asset", :title => "Drop asset",:class => "drop_asset", :onmouseover => "this.style.cursor = 'pointer'") 
  .clear

  =hidden_field_tag "frame[content][#{slot_wysiwyg.name}][asset_id]", slot_wysiwyg['asset_id']
  .slot_asset{:style =>  slot_wysiwyg["mode"] == "asset" ? "" : "display:none"}
    -if slot_wysiwyg.asset
      -@content = slot_wysiwyg.asset.content 
      =render :partial => content_partial(slot_wysiwyg.asset.content,:preview)
    -else
      Drop Asset Here!
  .slot_content
    -unless slot_wysiwyg["mode"] == "asset"
      -if slot_wysiwyg["markup"]
        -html = to_fp_html(slot_wysiwyg["markup"])
        -if html.length > 1
          =slot_wysiwyg["markup"] ? to_fp_html(slot_wysiwyg["markup"]) : ""
        -else
          ='<p class="sortable"></p>'.html_safe
      -else
        ='<p class="sortable"></p>'.html_safe
