.template_panel
  %ol
    %li{:id => "one_slot"}
      =image_tag("fassets_presentations/one_slot.png", :width => 96,  :height => 96, :title => "Edit")
      .name
        One Slot
    %li{:id => "2columns"}
      =image_tag("fassets_presentations/2columns.png", :width => 96,  :height => 96, :title => "Edit")
      .name
        2 Columns
    %li{:id => "2rows"}
      =image_tag("fassets_presentations/2rows.png", :width => 96,  :height => 96, :title => "Edit")
      .name
        2 Rows
    %li{:id => "top2_bottom1"}
      =image_tag("fassets_presentations/top2_bottom1.png", :width => 96,  :height => 96, :title => "Edit")
      .name
        Top 2 Bottom 1
