%li.asset{:id => slot.name, :frame_id => frame.id, :mode => slot['mode'], :asset_id => slot['asset_id']}
  .asset_content
    .icon
      -if slot[:mode] == "asset" && slot['asset_id']
        =render :partial => content_partial(slot.asset.content, :icon), :locals => {:content => slot.asset.content}
      -else
        =image_tag("fassets_presentations/clipboard.png", :width => "72", :height => "72")
    .caption
      %p{:class => "caption"}=truncate(frame.title,:length => 13,:omission => "...")
