=#javascript_include_tag "fassets_presentations/frames"
=content_for :h1 do
  -unless is_root_frame
    #type
      %small Presentation
      Frame
    #title
      %small=link_to @presentation.asset.name, edit_presentation_path(@presentation)
      =link_to @frame.title, presentation_frame_path(@presentation, @frame)
    #action
      %span.action
        =button_to "Delete", presentation_frame_path(@presentation, @frame), :method => :delete, :onclick => "return confirm('Are you sure?')"
        =render :partial => "assets/put_on_tray"
  -else
    #type
      =@content.media_type.capitalize
    #title
      =link_to @content.asset.name, presentation_path(@content)
    #action
      %span.action
        =button_to "Delete", delete_presentation_path(@content), :method => :delete, :onclick => "return confirm('Are you sure?')"
        =render :partial => "assets/put_on_tray"
    
      
#sidebar
  =render :partial => "fassets_presentations/presentations/frames", :locals => {:presentation =>  @presentation}
  
#main
  #editorhelp=render :partial => "fassets_presentations/shared/editorhelp"
  -unless is_root_frame
    =form_for  [@presentation,  @frame], :url => presentation_frame_path(@presentation,@frame),:html => {:id => "edit_frame"} do |f|
      =submit_tag "Save", :id => "frame_save"
      #edit_warning{:style => "visibility: hidden"}There are unsaved changes on this frame
      =render :partial => "fassets_presentations/frames/form", :object => f, :locals => {:disable_self => true}
      %h2 Slots
      %ul#slots
        =render :partial => "fassets_presentations/frames/slot", :collection => @frame.slots
