=javascript_include_tag 'fassets_presentations/frames_wysiwyg'
=stylesheet_link_tag 'fassets_presentations/templates/'+@presentation.template+'/editor.css'
  
=button_to "Edit Presentation", "", :method => :get ,:class => "edit_button", :asset_id => @presentation.asset.id, :content_id => @presentation.asset.content_id, :style=>"display:none", :id => "edit_presentation_button"
=#render :partial => "assets/put_on_tray"
=button_to "Delete Frame", presentation_frame_path(@presentation, @frame), :method => :delete, :onclick => "return confirm('Are you sure?')",:style=>"display:none", :id => "delete_frame_button"
=button_to "Markup-Editor", edit_presentation_frame_path(@presentation, @frame), :method => :get,:style=>"display:none", :id => "markup_button" 
      
#sidebar
  =render :partial => "fassets_presentations/presentations/frames", :locals => {:presentation =>  @presentation, :frame => @frame, :wysiwyg => true}

#main{:presentation_id => @presentation.id, :frame_id => @frame.id}
  =hidden_field_tag "frame_template", @frame.template, :class => "frame_template"
  =hidden_field_tag "frame_title", @frame.title, :class => "frame_title"
  -@presentation.root_frame.all_children.each do |frame|
    -frame.slots.each do |slot|
      -unless slot.in_template?
        =hidden_field_tag "clipboard_slot", "#{frame.id}_#{slot.name}", :class => "clipboard_slot"
  -unless is_root_frame
    =link_to "Edit Page", "/editor" + request.path, :id =>  "edit_link", :style => "display:none", :data => {:save_url => edit_wysiwyg_presentation_frame_path(@presentation, @frame)}
    %ul#slots_wysiwyg
      =render :partial => "fassets_presentations/frames/slot_wysiwyg", :collection => @frame.slots
