#tray {
  padding: .5em;
  border-top: 1px solid #bbb;
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

#tray_placeholder {
  height: 108px;
}

#tray ul {
  padding: .3em;
  text-align: right;
}

#tray ul li {
  padding-left: .5em;
  display: inline;
}

#tray ol {
  min-height: 48px;
  margin-top: .7em;
}

#tray ol li.asset_placeholder {
  float: left;
  height: 48px;
  width: 250px;
  margin: 0 1em 1em 0;
  background-color: #bfd8f7;
}

#tray ol.active {
  background-color: #dce9ff;
  border: 1px dotted #0060ff;
}
#tray ol.hover {
  border: 1px solid #0060ff;
  background-color: #dce9ff;
}

#tray input {
  float: right;
  margin-right: 2em;
}

#tray ol li.clipboard {
  position: relative;
  float: left;
  width: 250px;
  height:  48px;
  margin: 0 1em 1em 0;
}

#tray ol li.clipboard .icon {
  float:  left;
  width: 52px;
  height:  48px;
}

#tray ol li.clipboard .caption {
  display: block;
  line-height: 48px;
  height: 48px;
  overflow: hidden;
}

#tray ol li.clipboard .type{
  position: absolute;
  top: 2px;
  left:  52px;
  color: #999;
  font-size: .8em;
}

#tray ol li.clipboard .action{
  position: absolute;
  top: 2px;
  right:  2px;
}

#tray ol li.clipboard input {
  position: absolute;
  bottom: 0px;
  left:  52px;
}

#new_tray_position {
  float: left;
  position: relative;
  margin-bottom: 2px;
}

.button_to {
  float: left;
}
