* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  overflow: hidden;
}
img {
  border: 0;
}
em {
  font-style: normal;
  font-weight: bold;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.frame {
  overflow: hidden;
}
.header {
  background-color: #004b5a;
  border-bottom: .25em solid #a8a8a8;
  position:relative;
  height: 10%;
  color: white;
}
.header #edit {
  position : absolute;
}
.header a {
  color: #004b5a;
}
.header a:hover {
  color: white;
}
.header #logo {
  height : 100%;
  margin-left : 40px;
  vertical-align : middle;
  padding-top : 5px;
  padding-bottom : 5px;
}
.header #logo img {
  height : 90%;
  vertical-align : middle;
}
.header h1 {
  position: absolute;
  left: 4%;
  bottom: 0.1em;
  font-weight: bold;
  font-size: 1.7em;
}
.content {
  font-size: 1.2em;
  position:relative;
  height: 80%;
  width: 92%;
  margin:auto;
}
.content h1 {
  font-size: 1.5em;
}
.content h2 {
  font-size: 1.3em;
}
.content h3 {
  font-size: 1.1em;
}
.content em {
  font-weight: bold;
}
.content strong {
  font-weight: bold;
  color: red;
}
.content blockquote {
  margin: 1em 2em;
  padding-left: 1em
}
.content code {
  font-style: italic;
  font-weight: normal;
}
.footer {
  width: 97%;
  margin:auto;
  text-align: right;
  color: #666;
  position: absolute;
  bottom: 0px;
}
.slot#title {
  margin-top : 7%;
  color: #004b5a;
  text-align : center;
}
.slot#subtitle {
  color: #004b5a;
  opacity : .5;
  text-align : center;
}
.slot {
  width: 100%;
  margin-top: 1em;
}
.slot p {
  margin: .8em 0;
}
.slot ul, .slot ol {
  margin: .3em 0;
  width: 100%;
  padding-left: 2em;
}
.slot li{
  padding: .2em;
}
.slot pre{
  margin: .8em 0;
}
.slot pre code {
  font-family: monospace;
  font-style: normal;
  font-size: 0.6em;
}
.slot.cent {
  text-align: center;
}

.container {
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: .8em 0;
  width: 100%;
  background-color: #ececec;
}
.container .title {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom: .15em solid #a8a8a8;
  padding: .3em;
  background-color: #171717;
  color: #fff;
  font-weight: bold;
}
.content .title > #title {
  font-size: 1.7em;
}
.content .title > #title p {
  margin: 0;
}
.content .title > #subtitle {
  font-size: 1.2em;
}
.content .title > #subtitle p {
  margin: 0;
}
#selector {
  position: absolute;
  color: white;
  background-color: #004b5a;
  -webkit-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 10px solid #004b5a;
  overflow: hidden;
  overflow-y: auto;
  z-index: 3;
}
#selector table {
  border-collapse: collapse;
  width: 100%;
}
#selector table tr {
  list-style: none;
}
#selector table tr td.position{
  text-align: right;
  padding-right: .5em;
}
#selector table tr td.topic_item {
  font-weight: bold;
}
#selector table tr td.frame_item {
  font-weight: normal;
}
#selector table tr.active {
  background-color: #0044b7;
}
#selector table tr.selected {
  background-color: white;
  color: #222;
}
#black_dimmer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  display: none;
  background-color: #171717;
}
#white_dimmer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  display: none;
  background-color: white;
}
.menu {
  display : none;
  position: absolute;
  top: 0px;
  right: 0;
  width: 250px;
  height: 100%;
  float: right;
  background-color: #F5F5F5;
  border-left: 1px solid #DDDDDD;
}

.menu_header {
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  background-color: #004b5a;
  height: 10%;
  margin-bottom: 0;
  border-bottom: .35em solid #a8a8a8;
}
.menu {
  font-size: 0.8em;
}
.menu a {
  color: black;
  text-decoration: none;
}
.menu a:hover {
  color: #0066FF;
}
.menu li a:visited {
  text-decoration: none;
}
.menu ol {
  display: block;
  margin: 0.2em 0 0 1.5em;
  padding: 0.3em 0;
  list-style-type: none;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
}
.menu ol li {
  padding-top: 0.5em;
}
.menu ol ol {
  margin-top: 0.15em;
  font-size: 0.95em;
  font-weight: normal;
}
.menu ol li.selected {
  color: #0066FF;
  /*  font-weight: bold;*/
}
.menu ol li.selected a{
  color: #0066FF;
}
.menu ol li.selected li {
  font-weight: normal;
}
.menu ol li.selected li a{
  font-weight: normal;
  color: black;
}
.menu ol li.selected li a:hover{
  color: #0066FF;
}

#presentationhelp{
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  border: solid 2px grey;
  color: white;
  background-color: black;
  z-index: 3;
  visibility: hidden;
  padding: 2em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}
#ShortcutTable {
  margin-left: auto;
  margin-right: auto;
}
#ShortcutTable td{
  padding: 5px;
}
.example {
  margin-left: 2em;
}
.example .type {
  font-size: 1.1em;
  color: white;
  border: 2px solid #1BB51B;
  background-color: #1BB51B;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 5em;
  float: left;
  padding: .3em;
}
.example .title{
  font-size: 1.1em;
  color: black;
  border: 2px solid #1BB51B;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  padding: .3em;
  float: left;
  clear: right;
  min-height: 1.2em;
  margin-right: 3em;
  margin-bottom: 0.5em;;
}
.example .content{
  font-style: italic;
  border: 2px solid #C9C9C9;
  margin-top: 1em;
  margin-right: 3em;
  padding: 0.5em;
  min-width: 50%;
  max-width: 80%;
  min-height: 1.5em;
  clear: left
}
.definition {
  margin-left: 2em;
}
.definition .type {
  font-size: 1.1em;
  color: white;
  border: 2px solid #1B84E0;
  background-color: #1B84E0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 5em;
  float: left;
  padding: .3em;
}
.definition .title{
  font-size: 1.1em;
  color: black;
  border: 2px solid #1B84E0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  padding: .3em;
  float: left;
  clear: right;
  min-height: 1.2em;
  margin-right: 3em;
  margin-bottom: 0.5em;
}
.definition .content{
  font-style: italic;
  border: 2px solid #C9C9C9;
  margin-top: 1em;
  margin-right: 3em;
  padding: 0.5em;
  min-width: 50%;
  max-width: 80%;
  min-height: 1.5em;
  clear: left;
}
.box {
  margin-left: 2em;
}
.box .title{
  color: black;
  border: 2px solid #C9C9C9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  padding: .3em;
  float: left;
  clear: right;
  min-height: 1.2em;
  margin-right: 3em;
  margin-bottom: 0.5em;
}
.box .content{
  font-style: italic;
  border: 2px solid #C9C9C9;
  margin-top: 1em;
  margin-right: 3em;
  padding: 0.5em;
  min-width: 50%;
  max-width: 80%;
  min-height: 1.5em;
  clear: left;
}
.foreign {
  display: inline-block;
}
.foreign .title{
  color: orange;
  display: inline-block;
  min-height: 1em;
  min-width: 2em;
}
.foreign .translation{
  font-style: bold;
  display: inline-block;
  min-height: 1em;
}
.cite {
  margin-left: 2em;
}
.cite .quote{
  color: black;
  font-style: italic;
  border: 2px solid #C9C9C9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: .3em;
  float: left;
  clear: right;
  min-height: 1.2em;
  margin-right: 3em;
  margin-bottom: 0.5em;
}
.cite .citation{
  display: inline-block;
  border: 2px solid #C9C9C9;
  margin-top: 1em;
  margin-right: 3em;
  padding: 0.5em;
  min-width: 2em;
  min-height: 1.5em;
  clear: left;
  float: right;
}
