=link_to(image_tag(@content.file.url(:original), :id => "asset_"+@content.asset.id.to_s,:alt => @content.asset.name, :width => Paperclip::Geometry.from_file(@content.file.to_file(:small)).width ,:height => Paperclip::Geometry.from_file(@content.file.to_file(:small)).height, :class => "fit #{@css_class} asset center"), @content.file.url(:original), :class=>"zoom")
