!!! XML
!!! 1.1
%html
  %head
    =stylesheet_link_tag 'application'
    =javascript_include_tag "application"
    =yield :head
    %title
      Fassets
      =yield :title
    =csrf_meta_tag
  %body
    #header
      -if flash[:notice]
        #message=flash[:notice]
      -if flash[:error]
        #error_message=flash[:error]
      =link_to "FASSETS", root_url, :class => "home"
      =collection_select :catalog, :id, Catalog.all, :id, :title, options ={:prompt => "Catalogs ..."},  :onchange => "javascript:window.location= '/catalogs/' + this.value" 
      =render :partial => "shared/session"
    %h1=yield :h1
    #container
      =yield :layout
      .clear
    -if user_signed_in?
      =form_tag(replace_user_tray_positions_path(current_user), :id => "tray", :method => :put) do
        %ul
          /%li=link_to "Create Asset...", root_url
          %li=link_to "New URL", new_url_path
          %li=link_to "New File", new_file_asset_path
          %li=link_to "New Presentation", new_presentation_path
        %ol.sortable{:id => "users.#{current_user.id}.tray_positions.replace",:class => "sortable_tray"}
          -current_user.tray_positions.each do |tp|
            -if tp.clipboard_type
              =render :partial => "shared/clipboard", :locals => {:tp => tp}
            -else
              =render :partial => "shared/asset", :locals => {:tp => tp, :asset => tp.asset}
          //%li.clear
        =submit_tag "Drop Selected"
    #tray_placeholder
