!!! XML
!!! 1.1
%html
  %head
    =stylesheet_link_tag 'master'
    =javascript_include_tag "jquery.js"
    =javascript_include_tag "jquery-ui.js"
    =javascript_include_tag "jquery.fancyzoom.js"
    =javascript_include_tag "flowplayer.js"
    =javascript_include_tag "dombuilder.js"
    =javascript_include_tag "application.js"
    =yield :head
    %title
      Fassets
      =yield :title
  %body
    #header
      -if flash[:notice]
        #message=flash[:notice]
      =link_to "FASSETS", root_url, :class => "home"
      %ul.selector
        -unless @catalog
          %li=link_to "Catalogs...", root_url
        -Catalog.all.each do |catalog|
          %li
            =link_to catalog.title, catalog_path(catalog), :class => @catalog && @catalog.id == catalog.id ? "active" : nil
      =render :partial => "shared/session"
    %h1=yield :h1
    #container
      =yield :layout
      .clear
    -if user_signed_in?
      -form_tag(replace_user_tray_positions_path(current_user), :id => "tray", :method => :put) do
        %ul
          /%li=link_to "Create Asset...", root_url
          %li=link_to "New URL", new_url_path
          %li=link_to "New File", new_file_asset_path
          %li=link_to "New Presentation", new_presentation_path
        %ol.sortable{:id => "users.#{current_user.id}.tray_positions.replace"}
          -current_user.tray_positions.each do |tp|
            -if tp.clipboard_type
              =render :partial => "shared/clipboard", :locals => {:tp => tp}
            -else
              =render :partial => "shared/asset", :locals => {:tp => tp, :asset => tp.asset}
          %li.clear
        =submit_tag "Drop Selected"
