!!! XML
!!! 1.1
%html
  %head
    =stylesheet_link_tag "/templates/#{@presentation.template}/styles.css"
    =javascript_include_tag "application"
    %title=@presentation.title
  %body
    =yield :layout
    #presentationhelp=render :partial => "shared/presentationhelp"
  
